html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset="UTF-8")
    link(rel='stylesheet', type='text/css', href='./css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./css/styles.css')
    link(rel='stylesheet', type='text/css', href='./css/sol.css')
    link(rel='stylesheet', type='text/css', href='./css/bootstrap-datetimepicker.min.css')

    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css', rel='stylesheet')

    script(src='./js/jquery-3.1.1.min.js')
    script(src='./js/bootstrap.min.js')
    script(src='./js/functions.js')
    script(src='./js/sol.js')
    script(src='./js/moment.js')
    script(src='./js/bootstrap-datetimepicker.js')
    script(src='./js/es.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js')

    title Correos de Chile

  body