meta(name='viewport', content='width=device-width, initial-scale=1')
meta(charset="UTF-8")
link(rel='stylesheet', type='text/css', href='./css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='./css/styles.css')
link(rel='stylesheet', type='text/css', href='./css/bootstrap-datetimepicker.min.css')
link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css', rel='stylesheet')
link(href='./css/font-awesome.min.css', rel='stylesheet')
link(href='./css/bootstrap-multiselect.css', rel='stylesheet')
link(rel='stylesheet', href='https://www.amcharts.com/lib/3/plugins/export/export.css', type='text/css', media='all')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css')



script(src='./js/jquery-3.1.1.min.js')
script(src='./js/bootstrap.min.js')
script(src='./js/functions.js')
script(src='./js/moment.js')
script(src='./js/bootstrap-datetimepicker.js')
script(src='./js/es.js')
script(src='./js/bootstrap-multiselect.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js')
script(src='https://www.amcharts.com/lib/3/amcharts.js')
script(src='https://www.amcharts.com/lib/3/serial.js')
script(src='https://www.amcharts.com/lib/3/plugins/export/export.min.js')
script(src='https://www.amcharts.com/lib/3/themes/light.js')
script(src='https://www.amcharts.com/lib/3/lang/es.js')
script(src='./js/charts.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js')



